.board {
  position: fixed;
  width: 600px;
  height: 600px;
  background-color: teal;
  border-radius: 5px;
}

.hide {
  visibility: hidden;
}

.winnerBoard {
  position: fixed;
  width: 600px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 36px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.round {
  background-color: rgb(206, 54, 85) !important;
}

.cross {
  background-color: dodgerblue !important;
}

.tile {
  width: 190px;
  height: 190px;
  margin: 5px;
  padding: 0px;
  border: none;
  font-size: 50px;
  color: white;
  border-radius: 5px;
  background-color: tomato;
  vertical-align: top;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.restart {
  width: 120px;
  height: 60px;
  margin: 5px;
  padding: 0px;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  background-color: darkgreen;
  vertical-align: top;
}